*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  background: #fff;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  font-family: Montserrat;
}
.container {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1200px;
  height: 892px;
  background-color: #b0c6ff;
  padding: 180px 10px 5px 55px;
}
.title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}
.minion_card {
  background-color: #fff;
  width: 239px;
  text-align: center;
  padding: 20px 15px;
  display: inline-block;
  margin: 0px 40px 45px 0px;
}
.card_title {
  font-size: 12px;
  font-weight: bold;
}
.card_text {
  font-size: 12px;
  margin: 10px 17px 23px 17px;
}
.button {
  display: block;
  background-color: #6177eb;
  font-size: 12px;
  font-weight: 400;
  max-width: 160;
  padding: 12px 50px;
  margin: 0 auto;
}
